<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a
        (click) = "loadServer(server.id)"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
  <!--   <app-edit-server></app-edit-server>
    <hr>
    <app-server></app-server> -->
    <router-outlet></router-outlet>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <button type="button" name="button" class="btn btn-primary"

    (click) = "reloadServers()"
    ><!-- [routerLink] = "['/servers']" -->Reload</button>
  </div>
</div>
